# Node.js dependencies
node_modules

# Logs and temporary files
npm-debug.log
*.log
*.tmp
*.lock

# Next.js build output
.next
out

# Local environment variables
.env.local
.env.development
.env.test
.env.*

# Miscellaneous
logs
pids
*.pid
*.seed
*.pid.lock

# IDE/editor specific files
.vscode/
.idea/

# MacOS files
.DS_Store

# Git-related files
.git
.gitignore

# Docker-related files
Dockerfile
.dockerignore
